@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600&display=swap');

$dark-color: #252423;
$main-color: #47443e;
$second-color: #aa98b5;
$light-color: #e1dcde;

*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-transform: capitalize;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
html::-webkit-scrollbar{
    width: 1rem;
    background: $main-color;
}
html::-webkit-scrollbar-track{
    background: transparent;
}
html::-webkit-scrollbar-thumb{
    border-radius: 5rem;
    background: $second-color;
}

.main-btn{
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 2rem;
    color: $light-color;
    background: $second-color;
    cursor: pointer;
    border-radius: 3rem;
    text-decoration: none;
}
.main-btn:hover{
    color: $dark-color;
    background: $light-color;
}
.container-all{
    width: 100%;
    background: $dark-color;
    overflow: hidden;
}
header{
    display: inline-block;
    align-items: center;
    width: 100%;
    position: fixed;
    padding: 1rem 2.5rem;
    background: $dark-color;
    z-index: 100;
    .logo{
        color: $second-color;
        font-size: 4rem;
        float: left;
    }
    .navbar{
        background: $dark-color;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: .6rem;
        float: right;
        a{
            color: $light-color;
            font-size: 1.6rem;
            padding-left: .5rem;
            margin-left: 1rem;
            text-decoration-line: none;
            &:hover{
                color: $second-color;
            }
            
        }
    }
    .icon{
        position: absolute;
        right: 2rem;
        top: 1rem;
        display: none;
        i{
            font-size: 2rem;
            color: $light-color;
        }
    }
}

section{
    padding: 1rem 6%;
    width: 100%;
}
.heading{
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 3rem;
    span{
        text-transform: uppercase;
        color: $second-color;
    }
}
.home{
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 60% 40%;
    padding: 10rem;
    img{
        width: 35rem;
    }
    .content{
        width: 100%;
        margin: 1rem;
        h3{
        font-size: 3rem;
        text-transform: uppercase;
        color: #fff;
        }
        p{
            font-size: 1.5rem;
            padding: 1rem 0;
            color: #555;
        }
    }
}
.about{
    .row{
        display: flex;
        align-items: center;
        background: $main-color;
        padding: 2rem 0;
        flex-wrap: wrap;
        .image{
            flex: 1 1 45rem;
            img{
                width: 100%;
                height: 400px;
                border-radius: 2rem;
            }
        }
        .content{
            flex: 1 1 45rem;
            padding: 2rem;
            h3{
                font-size: 2.7rem;
                color: #fff;
            }
            p{
                font-size: 1.2rem;
                color: #ccc;
                padding: 1rem 0;
                line-height: 1.8;
            }
            .more-details{
                display: none;
                &.show{
                    display: inline-block;
                }
            }
        }
    }
}
.menu{
    .box-container{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
        gap: 1rem;
        .box{
            padding: 2rem;
            text-align: center;
            border: .1rem solid $light-color;
            border-radius: .2rem;
            img{
                height: 20rem;
                border-radius: 2.4rem;
            }
            h3{
                color: $second-color;
                font-size: 2.2rem;
                padding: 1rem 0;
            }
            .price{
                color: #fff;
                font-size: 2rem;
                padding: .5rem 0;
                span{
                    color: #fff;
                    font-size: 1.5rem;
                    text-decoration: line-through;
                }
            }
            &:hover{
                background: #ffffff2c;
                > *{
                    color: $dark-color;
                }
                img{
                    transform: scale(1.1);
                }
                .main-btn{
                    color: $dark-color;
                    background: $light-color;
                }
            }
        }
    }
}
.video{
    .carousel{
        width: 60%;
        background: #ffffff12;
        position: relative;
        left: 25%;
        padding: 1rem;
        .carousel-inner{
            display: flex;
            text-align: center;
            margin-bottom: 3rem;
            margin-top: 3rem;
            .carousel-item{
                .video-card{
                    video{
                        border-radius: 1rem;
                        width: 27rem;
                        &:hover{
                            transform: scale(1.1);
                        }
                    }
                }
            }
        }
    }
}
.review{
    .box-container{
        display: grid;
        grid-template-columns: repeat(2, 50%);
        padding: 2rem .5rem;
        .box{
            background: #ffffff0c;
            border: .1rem solid #fff;
            text-align: center;
            padding: 1rem;
            margin: 1rem;
            p{
                font-size: 1.5rem;
                line-height: 1.8;
                color: #ccc;
                padding: 1rem 0;
            }
            .user{
                height: 7rem;
                width: 7rem;
                border-radius: 50%;
                object-fit: cover;
            }
            h3{
                padding: 1rem 0;
                font-size: 2rem;
                color: $second-color;
            }
            img{
                width: 10%;
            }
        }
    }
}
.contact{
    .contact-box{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        padding: 5rem 0;
        .left-side{
            img{
                width: 45rem;
                margin-top: -10rem;
            }
        }
        .right-side{
            width: 99%;
            display: flex;
            flex-direction: column;
            padding: 1rem;
            background: #ffffff0c;
            border-radius: .7rem;
            h3{
                font-size: 3rem;
                color: $light-color;
            }
            %input{
                width: 98%;
                padding: 1rem;
                margin: 1rem 0;
                background: $main-color;
                border-radius: 1rem;
                color: $light-color;
                font-size: 1.5rem;
            }
            input{
                @extend %input;
            }
            textarea{
                min-height: 10rem;
                @extend %input;
            }
            .main-btn{
                width: 25%;
            }
        }
    }
}
.blogs{
    .box-container{
        display: flex;
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1ft));
        gap: 1.5rem;
        .box{
            border: .1rem solid #fff;
            .image{
                height: 25rem;
                overflow: hidden;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            &:hover{
                .image{
                    img{
                        transform: scale(1.2);
                    }
                }
            }
            .content{
                padding: 2rem;
                .title{
                    font-size: 2rem;
                    line-height: 1.5;
                    color: #fff;
                    &:hover{
                        color: $main-color;
                    }
                }
                span{
                    color: $main-color;
                    display: block;
                    padding-top: 1rem;
                    font-size: 1.5rem;
                }
                p{
                    font-size: 1.6rem;
                    line-height: 1.8;
                    color: #ccc;
                    padding: 1rem 0;
                }
            }
        }
    }
}
footer{
    background: $dark-color;
    text-align: center;
    .share{
        padding: 1.5rem 0;
        a{
            height: 5rem;
            width: 5rem;
            line-height: 5rem;
            font-size: 2rem;
            color: $main-color;
            border: .1rem solid $main-color;
            margin: 1rem;
            border-radius: 50%;
            text-decoration: none;
            &:hover{
                background: $light-color;
            }
        }
    }
    .links{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 1.5rem 0;
        gap: 1rem;
        a{
            padding: .7rem 1.5rem;
            color: $second-color;
            border: .1rem solid $second-color;
            font-size: 1.2rem;
            text-decoration: none;
            :hover{
                background: $main-color;
            }
        }
    }
    .creadit{
        font-size: 2rem;
        color: $second-color;
        font-weight: lighter;
        padding: 1.5rem;
        span{
            color: $main-color;
            
        }
    }
}

@media (max-width: 991px){
html{
    font-size: 55%;
}
.header{
    padding: 1.5rem 2rem;
}
section{
    padding: 2rem;
}
.home img{
    margin-top: 10rem;
    width: 25rem;
}
}
@media (max-width: 661px){
    header{
        .navbar{
            display: none;
            &.active{
                display: block;
                width: 100%;
                border-top: .1rem solid $second-color;
                padding-top: 1rem;
                margin-top: 2rem;
            }
            a{
                text-align: left;
                display: inline-block;
                padding-top: 1rem;
                padding-left: 3rem;
                width: 100%;
                border-bottom: .1rem solid #555;
                &:focus{
                    background: $light-color;
                    color: $dark-color;
                }
                &:hover{
                    background: $light-color;
                    color: $dark-color;
                }
            }
        }
        .icon{
            display: block;
        }
    }
.home{
    grid-template-columns: 100%;
    padding: 7rem;
    .content{
        width: 100%;
        h3{
            font-size: 1.5rem;
        }
        p{
            font-size: 1rem;
        }
    }
}
.home img{
    margin-top: 0;
}
.video{
    .carousel{
        width: 100%;
        left: 0;
        .carousel-inner{
            .carousel-item{
                .video-card{
                    video{
                        width: 99%;
                    }
                }
            }
        }
    }
}
.review{
    .box-container{
        flex-direction: column;
        align-items: center;
        grid-template-columns: repeat(1, 90%);
    }
}
.contact{
    .contact-box{
        flex-direction: column;
        .left-side{
            img{
                width: 35rem;
                margin-left: 4rem;
            }
        }
    }
}
.blogs{
    .box-container{
        flex-direction: column;
    }
}
}
@media (max-width: 450px){
    html{
        font-size: 50%;
    }
    .main-btn{
        padding: .6rem 2rem;
        font-size: 1.6rem;
    }
    .menu{
        .box-container{
            grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
            .box{
                img{
                    height: 15rem;
                    border-radius: 2rem;
                }
            }
        }
    }
    .contact{
        .contact-box{
            .right-side{
                .main-btn{
                    width: 50%;
                }
            }
        }
    }
}